$primary: #5265E1;
$secondary: #FA5959;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary
);

$btn-secondary-link-hover-color:$primary;


$font-family-sans-serif: 'Ubuntu', sans-serif;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

//Ejercicio 1

.primerNav a {//letras navegador superior
    letter-spacing: 0.16rem;
    font-weight:700;
}

.aside {
    position: relative;
}



.imagenes {
    position: relative;
    z-index: 1;
}


.imagenes:before {

    position: absolute;
    content: "";
    background-color: $primary;
    right: -50px;
    top: 25%;
    width: 85%;
    height: 75%;
    z-index: -1;
    border-bottom-left-radius: 35%;
}

//Ejercicio 2
.nav-tab .nav-item .nav-link:active {
    border-bottom: #FA5959 solid 2rem ;
   
}

.imgTab img{
    
    left: 150px;
    }

     .fondoTab{
    position: absolute;
    content: "";
    background-color: $primary;
    left: -50px;
    top: 3rem;
    width: 80%;
    height: 85%;
    z-index: -1;
    border-bottom-right-radius: 35%;
}


//EJERCICIO 3

$card-height:100%;

.targetas img{ 
    width:6rem;
}

//EJERCICIO 6. Nivel 3
.nav-link:hover,
.accordion-button:hover {
	color: $secondary;
}

.nav-tabs .nav-link:hover{
    color:$secondary;
   //ESTE NO SE APLICA, NO SE PORQUE
}

.nav-tab .nav-item .nav-link:active{
    border-bottom: 0.25rem solid $secondary;
}

.btn-secondary:hover {//boton de los dos navegadores
    color:$secondary !important;
    border-color: $secondary;
    background-color: white;
}



.btn-primary:hover{
    background-color: white;
    color:$primary;
    border-color: $primary;
}

//EJERCICIO 7.NIVEL 3
@media (min-width: 992px) {
	.targetas {
		& div:nth-child(1) div:nth-child(1) {
			margin-top: 1rem;
		}

		& div:nth-child(2) div:nth-child(1) {
			margin-top: 3rem;
		}

		& div:nth-child(3) div:nth-child(1) {
			margin-top: 6rem;
		}
	}
}


